<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660283161537-6ss5auirhok8ru20tj4ouq2vpq9h1fd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660283161537-6ss5auirhok8ru20tj4ouq2vpq9h1fd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMV3B2sMXU0XmImIBAY5YpT0WZ5qJySR8</string>
	<key>GCM_SENDER_ID</key>
	<string>660283161537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.dsm</string>
	<key>PROJECT_ID</key>
	<string>dsm-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>dsm-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660283161537:ios:c0f7101ac7331ec3b24d40</string>
</dict>
</plist>